* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 15px #c7c7c7;
}

.wrapper {
  width: 100%;
}

.img-logo1 {
  display: block;
  padding: 15px 20px 0px;
  margin-left: 35%;
}
.img-logo {
  display: none;
}

.about h1 {
  font-family: arial;
  padding: 30px 20px 30px;
  font-size: 24px;
  color: #111;
}

.about p {
  font-family: arial;
  padding: 0px 20px 30px;
  font-size: 16px
  color: #111;
  line-height: 20px;
}

@media only screen and  (min-width: 600px) {
  .img-logo {
    display: block;
    padding: 15px 20px 0px;
  }
  .img-logo1 {
    display: none;
  }
}
